{% load i18n %}

<div class="search flex-grow-1 me-4">
  <form
    hx-get="{% url 'licenses:index' %}"
    hx-target="#licenses-list"
    hx-push-url="true"
    hx-trigger="keyup changed delay:250ms, search, change"
    >
    <div class="input-group mb-3">

      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>

      <input
          type="search"
          class="form-control"
          style="flex-grow: 3;"
          placeholder="{% translate 'Search licenses' %}"
          name="{{ license_record_filter.form.search.html_name }}"
          id="{{ license_record_filter.form.search.id_for_label }}"
          value="{{ license_record_filter.form.search.value|default:"" }}"
      >

      <select class="form-select" name="device__device_type">
        {% for choice in license_record_filter.form.device__device_type %}
          {{ choice }}
        {% endfor %}
      </select>

      <select class="form-select" name="device__supplier">
        {% for choice in license_record_filter.form.device__supplier %}
          {{ choice }}
        {% endfor %}
      </select>

      <select class="form-select" name="license_state">
        {% for choice in license_record_filter.form.license_state %}
          {{ choice }}
        {% endfor %}
      </select>
    </div>
  </form>
</div>
