{% load i18n crispy_forms_tags %}


<div class="d-flex align-items-center mb-4">
    <div>
        <h2 class="mb-0 me-4">
            {{ title }}
        </h2>
    </div>
    <div>
        {% if license %}
        <a
            href="{{ obj_admin_url }}"
            class="btn text-bg-warning btn-sm"
        >
            <i class="bi bi-box-arrow-up-right"></i>
            Admin view
        </a>
        {% endif %}
    </div>
</div>

{% if license %}
    {% include 'licenses/timeline.html' with events=license.get_timeline %}
{% endif %}

<form
    id="license-form"
    method="POST"
    action="
        {% if license %}
            {% url 'licenses:edit' license_id=license.id %}
        {% else %}
            {% url 'licenses:new' %}
        {% endif %}
    "
    {% if request.htmx %}
    hx-post="
        {% if license %}
            {% url 'licenses:edit' license_id=license.id %}
        {% else %}
            {% url 'licenses:new' %}
        {% endif %}
    "
    hx-target="#licenses-content-wrapper"
    {% endif %}
>
    {% crispy form %}

    <button
        type="submit"
        class="my-4 btn btn-primary"
    >
        {% translate "Save" %}
    </button>
    <span
        class="my-4 btn btn-secondary ms-2"
        hx-get="{% url 'licenses:index' %}"
        hx-target="#licenses-content-wrapper"
    >
        {% translate "Cancel" %}
    </span>
</form>
