{% extends "theme/_base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}
  {% translate "Licenses" %}
{% endblock title %}

{% block body %}

<h1>
  {% translate "Licenses" %}
</h1>

<div id="licenses-content-wrapper">

  <div class="d-flex">

    <div class="search flex-grow-1 me-4">
      <form
        hx-get="{% url 'licenses:index' %}"
        hx-target="#licenses-list"
        hx-push-url="true"
        hx-trigger="keyup changed delay:250ms, search, change"
        >
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="search"
            class="form-control"
            name="q"
            value="{{ request.GET.q }}"
            placeholder="{% translate 'Search licenses' %}"
            style="flex-grow: 3;"
          >
          <select class="form-select" name="license-type-select" id="license-type-select">
            <option value=0 selected>{% translate "License type" %}...</option>
            {% for license_type in license_type_choices %}
              <option value="{{ license_type.id }}">{{ license_type.name }}</option>
            {% endfor %}
          </select>
        
        </div>
      </form>
    </div>
  
    <div id="add-license">
        <span 
          {# href="{% url 'admin:core_device_add' %} #}
          class="btn btn-primary"
          hx-get="{% url 'licenses:new' %}"
          hx-trigger="click"
          hx-target="#licenses-content-wrapper"
        >
          <i class="bi bi-plus-circle"></i>
          {% translate "Add license" %}
        </span>
    </div>

  </div>

  <div
    id="licenses-list"
    hx-trigger="load"
    hx-get="{% url 'licenses:index' %}?{{ request.GET.urlencode|safe }}"
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>

{% endblock body %}
