{% extends "theme/_base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
  Licenses
{% endblock title %}

{% block body %}

<h1>
  {% if title %}
    {{ title }}
  {% else %}
    Licenses
  {% endif %}
</h1>

<div id="licenses-content-wrapper">

<div class="d-flex">

    <div class="search flex-grow-1 me-4">
      <form>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="search"
            class="form-control"
            name="q"
            value="{{ request.GET.q }}"
            placeholder="Search licenses"
            hx-get="{% url 'licenses:index' %}"
            {# hx-trigger="keyup changed delay:500ms" #}
            hx-trigger="keyup changed delay:250ms, search, load"
            hx-target="#licenses-list"
            hx-push-url="true"
          >
        </div>
      </form>
    </div>

    <div id="add-license">
        <span 
          {# href="{% url 'admin:core_device_add' %} #}
          class="btn btn-primary"
          hx-get="{% url 'licenses:new' %}"
          hx-trigger="click"
          hx-target="#licenses-content-wrapper"
        >
          <i class="bi bi-plus-circle"></i>
          Add license
        </span>
    </div>
</div>
  

<div
  id="licenses-list"
  {% comment %}
  hx-trigger="load"
  hx-get="{% url 'licenses:index' %}"
  {% endcomment %}
>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

</div>

{% endblock body %}
