{% load i18n %}

<style>
  .license-state img {
    max-width: 18px;
  }
</style>


<p class="text-muted small">
  <i>
    {{ licenses_filtered }} {% translate "of" %} {{ licenses_total }} {% translate "licences" %}.
    {% if licenses_filtered != licenses_total %}
      <a class="ms-1 badge text-bg-warning" href=".">
        <i class="bi bi-x-circle-fill"></i>
        {% translate "Show all?" %}
      </a>
    {% endif %}
  </i>
</p>

<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          <!-- License status -->
        </th>
        <th>
          {% translate "License" %}
        </th>
        <th>
          {% translate "Start date" %}
        </th>
        <th>
          {% translate "Expiry date" %}
        </th>
        <th>
          {% translate "Subscribers" %}
          <a href="/docs/guides/lizenzen.html#subscribers">
            <i class="bi bi-info-circle-fill"></i>
          </a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for license in license_record_filter.qs %}
    <tr class="
    {% if license.license_state == 'expired' %}
    {% elif license.license_state == 'expiring' %}
      table-warning
    {% endif %}
    ">
        <td style="vertical-align: top;">
          {% include "licenses/traffic_light.html" %}
        </td>
      <td>
        {{ license.device_human_title }}
        <a
            href="{% url 'licenses:history' license.device.id %}"
            title="{% translate 'Show history' %}"
            class="mx-2"
        >
            <i class="bi bi-clock-history"></i>
        </a>

        {% if license.device.note or license.device.procurement_note %}
          <span class="text-primary">
            <i class="px-2 bi bi-chat-fill"></i>
          </span>
          <div id="note-{{ license.device.id }}" class="bg-white border rounded p-2 font-monospace mt-1 small d-none">
            {% if license.device.procurement_note %}
              <strong>{% translate "Procurement note" %}:</strong>
              {{ license.device.procurement_note|linebreaks }}
            {% endif %}

            {% if license.device.note and license.device.procurement_note %}
            <hr>
            {% endif %}

            {% if license.device.note %}
              <strong>{% translate "Note" %}:</strong>
              {{ license.device.note|linebreaks }}
            {% endif %}
          </div>
        {% endif %}
        <div>

          {% if license.device.device_type %}
          <span class="badge text-bg-secondary" title="{% translate 'License type' %}">
            {{ license.device.device_type }}
          </span>
          {% endif %}

          {% if license.device.order_number %}
          <small class="text-muted">
            Order: {{ license.device.order_number }}
          </small>
          {% endif %}

        </div>
      </td>
      <td>
        {{ license.device.contract_start_date | default:"n/a" }}
      </td>
      <td>
        {{ license.device.contract_expiration_date|date:"Y-m-d"|default:"n/a" }}
      </td>
      <td class="small">
        {{ license.get_subscribers|default:""|linebreaksbr }}
      </td>
      <td>
        <a
            href="{% url 'licenses:edit' license_id=license.device.id %}"
            class="btn btn-primary btn-sm"

            {% comment %}
            hx-get="{% url 'licenses:edit' license_id=license.device.id %}"
            hx-trigger="click"
            hx-target="#licenses-content-wrapper"
            hx-push-url="true"
            {% endcomment %}
        >
            <i class="bi bi-pencil-square"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">
        <i>
          {% translate "No licenses found." %}
          {% if licenses_total == 0 %}
            {% include "licenses/includes/add_button.html" with style="btn" %}
          {% endif %}
        </i>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<script>
document.querySelectorAll('.bi.bi-chat-fill').forEach(function(stickyIcon) {
  if (!stickyIcon.hasListener) {
    stickyIcon.addEventListener('click', function() {
      let noteElement = this.parentElement.nextElementSibling;
      if (noteElement) {
        noteElement.classList.toggle('d-none');
      }
    });
    stickyIcon.hasListener = true;
  }
});
</script>
