{% load i18n %}

<style>
  .license-state img {
    max-width: 18px;
  }
</style>


<p class="text-muted small">
  <i>
    {{ licenses_filtered }} {% translate "of" %} {{ licenses_total }} {% translate "licences" %}.
    {% if licenses_filtered != licenses_total %}
      <a class="ms-1 badge text-bg-warning" href=".">
        <i class="bi bi-x-circle-fill"></i>
        {% translate "Show all?" %}
      </a>
    {% endif %}
  </i>
</p>

<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          <!-- License status -->
        </th>
        <th>
          {% translate "License" %}
        </th>
        <th>
          {% translate "Start date" %}
        </th>
        <th>
          {% translate "Expiry date" %}
        </th>
        <th>
          {% translate "Subscribers" %}
          <a href="/docs/guides/lizenzen.html#subscribers">
            <i class="bi bi-info-circle-fill"></i>
          </a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for license in license_record_filter.qs %}
    <tr class="
    {% if license.license_state == 'expired' %}
    {% elif license.license_state == 'expiring' %}
      table-warning
    {% endif %}
    ">
        <td style="vertical-align: top;">
          {% include "licenses/traffic_light.html" %}
        </td>
      <td>
        {{ license.get_human_title }} ({{ license.device.sap_id }})


        <a
            href="{% url 'licenses:history' license.device.id %}"
            title="{% translate 'Show history' %}"
            class="mx-2"
        >
            <i class="bi bi-clock-history"></i>
        </a>

        {% if license.device.note %}
          <span class="text-primary">
            <i class="px-2 bi bi-chat-fill"></i>
          </span>
          <div id="note-{{ license.device.id }}" class="font-monospace mt-1 small d-none">
            {{ license.device.note|linebreaks }}
          </div>
        {% endif %}
        <div>
          <span class="badge text-bg-secondary">
            {{ license.device.device_type|default:"n/a" }}
          </span>
        </div>
      </td>
      <td>
        {{ license.device.contract_start_date | default:"n/a" }}
        <br>
        <small class="text-muted">
          Order: {{ license.order_number|default:"n/a" }}
        </small>
      </td>
      <td>
        {{ license.device.contract_expiration_date|date:"Y-m-d"|default:"n/a" }}
      </td>
      <td class="small">
        {{ license.device.get_subscribers|join:"<br>" }}
      </td>
      <td>
        <a
            href="{% url 'licenses:edit' license_id=license.device.id %}"
            class="btn btn-primary btn-sm"

            {% comment %}
            hx-get="{% url 'licenses:edit' license_id=license.device.id %}"
            hx-trigger="click"
            hx-target="#licenses-content-wrapper"
            hx-push-url="true"
            {% endcomment %}
        >
            <i class="bi bi-pencil-square"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<script>
document.querySelectorAll('.bi.bi-chat-fill').forEach(function(stickyIcon) {
  if (!stickyIcon.hasListener) {
    stickyIcon.addEventListener('click', function() {
      let noteElement = this.parentElement.nextElementSibling;
      if (noteElement) {
        noteElement.classList.toggle('d-none');
      }
    });
    stickyIcon.hasListener = true;
  }
});
</script>
