<style>
    .timeline-row {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
    }
    .timeline-column {
        min-width: fit-content;
        padding: 0 2em 0 1em
    }
    .timeline-label {
        border-left: 2px solid white;
        padding-left: 4px;
    }
    .timeline .timeline-point:first-child .timeline-label {
        border-left-width: 0;
    }
</style>

<div class="timeline-row rounded text-bg-secondary my-4">
{% for event in events %}
    <div class="timeline-column timeline-point" style="width: {{ event.percentage }}%;">
        <div 
            class="
                timeline-label small 
                {% if event.event_type == 'today' %} fw-bold bg-success {% endif %}
            "
            style="{% if event.event_type == 'today' %} height: 70px; {% endif %}"
        >
            {{ event.date }}
            <br>
            {{ event.description }}
        </div>
    </div>
{% endfor %}
</div>
