{% extends 'admin/change_form.html' %}


{% block object-tools %}
    <style>
        .admin-btn-primary {
            color: white !important;
            background: var(--primary) !important;
        }
    </style>
    {{ block.super }}
{% endblock object-tools %}


{% block object-tools-items %}
    <li>
        {% if original.id %}
            <a 
                class="admin-btn-primary"
                href="{% url 'admin:trigger-report' original.id %}"
            >
                &rarr; Trigger ad hoc report
            </a>
        {% else %}
            <span 
                class="admin-btn-primary"
            >
                <i>Trigger ad hoc report. Please save notification first.</i>
            </span>
        {% endif %}
    </li>
    {{ block.super }}
{% endblock object-tools-items %}
