/*
Available variables:

* light mode:
  https://github.com/django/django/blob/main/django/contrib/admin/static/admin/css/base.css
* dark mode:
  https://github.com/django/django/blob/main/django/contrib/admin/static/admin/css/dark_mode.css
*/

html[data-theme="light"],
:root {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);

    color-scheme: light;
}


@media (prefers-color-scheme: dark) {
    :root {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);
    color-scheme: dark;
    }
}



html[data-theme="dark"] {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);

    color-scheme: dark;
}
