@import "bootstrap/scss/functions";

@import "./_variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "../../common/_fontawesome";

@import "./django_admin_overrides";

body {
    background: var(--body-bg);
    color: var(--body-fg);
}


/* DjangoAdmin Bootstrap resets and fixes: */
/* This fixed the caption alignment in the admin list view */
caption {
    caption-side: top;
}

#header {
    overflow: visible;

    .navbar-brand img {
        max-height: 40px;
        height: 40px;
    }

    .nav-item {
        list-style: none;
    }

    .dropdown-menu {
        a {
            color: $dropdown-link-color;
        }
    }
}

// Remove django admin branding from most pages, as we use 
// the bootstrap branding...
#branding { display: none; }

// ...but re-enable django admin branding for login and logout pages
body.login #branding,
body.logout #branding { 
    display: block; 
}

// Ensure BS dropdowns are not cut off:
body #changelist-form .results {
    overflow-x: visible;
}

#content h1 {
    @extend .h3;
}

.object-tools a.addlink,
.object-tools a.viewsitelink {
    @extend .btn;
    @extend .btn-primary;
    padding-right: 28px;
}

.submit-row {
    .closelink,
    .deletelink {
        box-sizing: content-box;
    }
}

input.btn, 
a.btn {
    @extend .btn;
}
input.btn-primary,
a.btn-primary {
    @extend .btn-primary;
}
input.btn-secondary,
a.btn-secondary {
    @extend .btn-secondary;
}
input.btn-info,
a.btn-info {
    @extend .btn-info;
}
input.btn-warning,
a.btn-warning {
    @extend .btn-warning;
}
input.btn-success,
a.btn-success {
    @extend .btn-success;
}
input.btn-light,
a.btn-light {
    @extend .btn-light;
}
input.btn-danger,
a.btn-danger {
    @extend .btn-danger;
}

a.text-bg-info {
    @extend .text-bg-info
}

.record-action-btn-group .btn-info {
    @extend .btn-info;
    background-color: var(--dlcdb-color-primary-light);
    border-color: var(--dlcdb-color-primary-light);
    color: white;
}

fieldset.collapse:not(.show), 
fieldset.collapsed:not(.show) {
    display: block;
}

// Reset bootstrap .form-row { display: flex; }
.inline-group .form-row {
    display: table-row;
}


// Fix upstream or bootstrap height: 1.1em
.inline-group .tabular td.original p {
    height: auto;
}

.alert-90-danger,
tr.lent-state-10-unknown {
    @extend .text-bg-danger;
}

.alert-80-warning,
tr.lent-state-20-overdue {
    @extend .text-bg-warning;
}

// tr.licence-state-30-available,
// tr.lent-state-30-available {
//     @extend .bg-white;
// }

tr.licence-state-40-lent,
tr.lent-state-40-lent {
    // @extend .text-muted;
    @extend .text-bg-light;
}

ul.messagelist li {
    margin: 0;
}


/* select2 dark mode fixes */
body .select2-dropdown {
    background-color: var(--body-bg);
    color: var(--body-fg);
}

body .select2-container--default .select2-selection--single,
body .select2-container--default .select2-results__option[aria-selected="true"],
body .select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: var(--dlcdb-color-primary-light);
    color: white;
}
