*.py[cod]
__pycache__/
*~
*.egg-info/

# Virtual envs
/.venv

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
.tox
nosetests.xml
htmlcov/

# Translations
*.mo
*.pot

# Dependency directories
node_modules/

# Sphinx documentation
/docs/_build/
/public/

# Project directories
/run/*
/dlcdb/static/dist/
/temp
/.env

