# SPDX-FileCopyrightText: 2025 Thomas Breitner
#
# SPDX-License-Identifier: CC0-1.0

*.py[cod]
__pycache__/
*~
*.egg-info/
.ruff_cache
.pytest_cache
/build/

# Virtual envs
/.venv

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
.tox
nosetests.xml
htmlcov/

# Translations
*.mo
*.pot

# Dependency directories
node_modules/

# Sphinx documentation
/docs/_build/
/docs/_static/vendor/
/public/

# Project directories
/run/
/data/
/dlcdb/static/dist/
/dlcdb/theme/static/theme/dist
/dlcdb/inventory/static/inventory/dist
/temp
/.env

