# dlcdb env file
# copy to `.env` and set your variables
# https://django-environ.readthedocs.io/en/latest/

SETTINGS_MODE=production
SECRET_KEY=secret-string
ADMINS="Max Mustermann <m.mustermann@fqdn>"
LDAP_ACCESS_GROUPS=ldap_group_granted_access1,ldap_group_granted_access2
LDAP_QUERY_USERNAME=
LDAP_QUERY_PASSWORD=
EMAIL_SUBJECT_PREFIX=[DLCDB fqdn]
EMAIL_HOST=fqdn.mpicc.de
EMAIL_PORT=25
DEFAULT_FROM_EMAIL=it-support@fqdn
UDB_JSON_URL=https://fqdn/udb.json
ALLOWED_HOSTS="fqdn1","fqdn2"
