# dlcdb env file
# copy to `.env` and set your variables
# https://django-environ.readthedocs.io/en/latest/

# Django
# SETTINGS_MODE values: "dev" or "production"
SETTINGS_MODE=dev
SECRET_KEY=secret-string
ADMINS=Alice Judge <alice@cyb.org>,blake@cyb.org
ALLOWED_HOSTS=127.0.0.1

# Email
EMAIL_SUBJECT_PREFIX="[DLCDB fqdn]: "
EMAIL_HOST=smtp.fqdn
EMAIL_PORT=25
DEFAULT_FROM_EMAIL=it-support@fqdn

# UDB
UDB_JSON_URL="https://fqdn/udb.json"
UDB_API_TOKEN="my-udb-api-token"

# LDAP
AUTH_LDAP=false  # true/false
AUTH_LDAP_SERVER_URI="ldaps://dc.fqdn"
AUTH_LDAP_BIND_DN="cn=username,ou=ou,dc=fqdn"
AUTH_LDAP_BIND_PASSWORD="pw"
AUTH_LDAP_USERS_DN="cn=Users,dc=fqdn"
AUTH_LDAP_GROUP_SUPERUSERS="cn=django_admins,ou=ou,dc=fqdn"
AUTH_LDAP_GROUP_STAFF="cn=dlcdb,cn=Users,dc=fqdn"
AUTH_LDAP_MIRROR_GROUPS=ldapgroup1,ldapgroup2

# Branding
BRANDING_ORG_NAME=ACME Industries
BRANDING_ORG_ABBR=ACME
BRANDING_ORG_STREET=Musterstrasse 123
BRANDING_ORG_ZIP_CITY=98765 Musterstadt
BRANDING_ORG_URL=https://fqdn
BRANDING_IT_DEPT_NAME=IT-Support
BRANDING_IT_DEPT_PHONE=+123456789
BRANDING_IT_DEPT_MAIL=it-support@fqdn
