# dlcdb env file
# Copy to `.env` and set your variables
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Without an .env file the DLCDB will run in development mode and is
# not suitable for a production environment.
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# https://django-environ.readthedocs.io/en/latest/

# Django
# SETTINGS_MODE values: "dev" or "production"
SETTINGS_MODE=dev
DJANGO_DEBUG=true
SECRET_KEY=secret-string
ADMINS=Alice Judge <alice@cyb.org>,blake@cyb.org
ALLOWED_HOSTS=127.0.0.1
CSRF_TRUSTED_ORIGINS=http://unsafe.fqdn1.com,https://unsafe.fqdn2.com

# Email
# EMAIL_BACKEND values:
# https://docs.djangoproject.com/en/dev/ref/settings/#email-backend
# eg. 'django.core.mail.backends.smtp.EmailBackend' for production and
#     'django.core.mail.backends.console.EmailBackend' (default) for development
EMAIL_BACKEND=""
EMAIL_SUBJECT_PREFIX="[DLCDB fqdn]: "
EMAIL_HOST=smtp.fqdn
EMAIL_PORT=25
DEFAULT_FROM_EMAIL=it-support@fqdn

# UDB
UDB_JSON_URL="https://fqdn/udb.json"
UDB_API_TOKEN="my-udb-api-token"

# LDAP
# AUTH_LDAP values: true/false
AUTH_LDAP=false
AUTH_LDAP_SERVER_URI="ldaps://dc.fqdn"
AUTH_LDAP_BIND_DN="cn=username,ou=ou,dc=fqdn"
AUTH_LDAP_BIND_PASSWORD="pw"
AUTH_LDAP_USERS_DN="cn=Users,dc=fqdn"
AUTH_LDAP_GROUP_SUPERUSERS="cn=django_admins,ou=ou,dc=fqdn"
AUTH_LDAP_GROUP_STAFF="cn=dlcdb,cn=Users,dc=fqdn"
AUTH_LDAP_MIRROR_GROUPS=ldapgroup1,ldapgroup2
