# requirements.in
# requirements for production environment

Django==4.1
django-auth-ldap
django-select2
django-environ
django-crispy-forms
django-simple-history
django-htmx
pymemcache  # needed by django-select2
Sphinx
sphinx_rtd_theme
flake8
python-magic
huey
openpyxl
sphinxcontrib-mermaid
markdown
Pillow

# for qr code generation
segno

# drf 
djangorestframework
django-filter

# pyyaml  # needs os libyaml
