# requirements-dev.in
# requirements for development environment

-c requirements.txt

django-debug-toolbar

# Export models as PNG/SVG:
django_extensions

# for js qr scanner https connections on localhost runserver:
# see: https://github.com/django-extensions/django-extensions/issues/1475
Werkzeug==0.16.1
pyOpenSSL

pytest
pytest-django
pytest-cov
