<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "admin/base.html" %}

{% load static %}

{% block dark-mode-vars %}
    {# disable django admin builtin dark mode as our bootstrap usage does not provide a dark mode (yet) #}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dist/core/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.min.css' %}">

    {% block extra_css %}{% endblock %}
{% endblock %}


{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}


{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    </h1>
{% endblock %}


{% block usertools %}
    {# block.super #}
{% endblock %}


{% block nav-global %}
    {% if not is_popup %}
        {% if user.is_authenticated and user.is_staff %}
            {% include 'admin/navbar.html' %}
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block footer %}
    {{ block.super }}
    {# django will return the minified jquery version in <head> if DEBUG=True #}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'dist/core/js/app.js' %}"></script>
    <script>
        $('.list-filter-select2 select').select2()
        // init bootstrap tooltips and popovers
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% block extra_js %}{% endblock %}
{% endblock footer %}
