{% extends "admin/base_site.html" %}

{% load static %}

{% block bodyclass %} dashboard-index {% endblock %}

{% block title %}
    Dashboard | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block content_title %}
    Dashboard
{% endblock %}


{% block content %}
    <h1>Device Life Cycle Database</h1>

    <hr>
    <div class="row">
        <div class="col-12">
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'admin:core_lentrecord_changelist' %}">
                Verleihen
            </a>

            {% if perms.smallstuff.view_assignedthing %}
            <a class="btn btn-primary btn-lg" href="{% url 'smallstuff:person_search' %}">
                Kleinkram
            </a>
            {% endif %}

            {% if perms.core.change_inventory %}
                <a role="button" class="btn btn-primary btn-lg" href="{% url 'inventory:inventorize-room-list' %}">
                    Inventarisieren
                </a>
            {% endif %}

            <a role="button" class="btn btn-primary btn-lg" href="{% url 'admin:core_device_changelist' %}">
                Devices
            </a>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'admin:core_licencerecord_changelist' %}">
                Lizenzen
            </a>
        </div>
    </div>
    
    <hr>

    <h1>Aktuelle Inventurrunde: {{ current_inventory|default:'Keine Inventurrunde angelegt.' }}</h1>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <h2>Verleihbare Notebooks</h2>
            <div style="padding:22px; background:#fbfbfb;">
                <canvas id="notebook-lending-chart" width="400px" height="400px"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Geräte nach Verbleib</h2>
            <div style="padding:22px; background:#fbfbfb;">
                <canvas id="device-location-chart" width="400px" height="400px"></canvas>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Geräte nach Typ</h2>
            <div style="padding:22px; background:#fbfbfb;">
                <canvas id="device-type-chart" width="400px" height="400px"></canvas>
            </div>
        </div>

    </div>

{% endblock %}


{% block footer %}
    {{ block.super }}
    <script src="{% static 'dist/common/vendor/chartjs/chart.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const data = {{ record_fraction_data|safe }}
            const device_type_data = {{ device_type_data|safe }}
            const notebooks_lending_data = {{ notebooks_lending_data|safe }}

            const deviceLocationChart = new Chart(
                document.getElementById("device-location-chart"), {
                    type: 'bar',
                    data: data,
                    options: {responsive: true}
            });

            const deviceTypeChart = new Chart(
                document.getElementById("device-type-chart"), {
                    type: 'bar',
                    data: device_type_data,
                    options: {
                        responsive: true,
                        legend: {
                            display: true
                        }
                    }
            })

            const ntbLentChart = new Chart(
                document.getElementById("notebook-lending-chart"), {
                    type: 'pie',
                    data: notebooks_lending_data,
                    options: {responsive: true}
            });

        });
    </script>
{% endblock footer %}
