<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "admin/base_site.html" %}

{% load static %}

{% block bodyclass %} dashboard-index {% endblock %}

{% block title %}
    Dashboard | {{ site_title|default:_('Django site admin') }}
{% endblock %}


{% block content_title %}
    Dashboard
{% endblock %}


{% block content %}
    <h1>Device Life Cycle Database</h1>

    <style>
    .grid-container {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* place-items: center; */
        grid-gap: 1em;
        font-size: large;
      }
      .grid-container > a {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        border-radius: 9px;
        background-color: var(--primary);
        color: white;
        text-align: center;
      }
      .grid-container > div > p {
        display: block; 
      }
    </style>

    <div class="grid-container">
        {% for tile in tiles %}
            {{ tile }}
        {% endfor %}
    </div>

    <hr class="mt-4">

    <div class="row row-stats">
        <div class="col-md-4">
            <h4>Geräte nach Verbleib</h4>
            <canvas id="device-location-chart" style="max-height: 300px;"></canvas>
        </div>
        <div class="col-md-8">
            <h4>Geräte nach Typ</h4>
            <canvas id="device-type-chart" style="max-height: 300px;"></canvas>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'dist/common/vendor/chartjs/chart.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const record_fraction_data = {{ record_fraction_data|safe }};
    const device_type_data = {{ device_type_data|safe }};

    const options = {
        responsive: true,
        plugins: {
            legend: {display: false}
        }
    }

    const deviceLocationChart = new Chart(
        document.getElementById("device-location-chart"), {
            type: 'bar',
            data: record_fraction_data,
            options: options,
    });

    const deviceTypeChart = new Chart(
        document.getElementById("device-type-chart"), {
            type: 'bar',
            data: device_type_data,
            options: options,
    })
});
</script>
{% endblock extra_js %}
