{% load i18n %}


<details data-filter-title="{{ title }}" open>
  <summary>
    {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
  </summary>
  
  {% if choices|length > 1 %}
  <form class="d-block list-filter-select2 ml-4 mr-1 mb-2">
    <select id="filter-{{ title|escape }}" class="select2" style="width: 100%; max-width: 100%;" onchange="window.location=this.value">
        {% for choice in choices %}
            <option
                value="{{ choice.query_string|iriencode }}"
                {% if choice.selected %} selected="selected"{% endif %}
            >
                {{ choice.display }}
            </option>
        {% endfor %}
    </select>
  </form>
  {% else %}
  <ul>
    {% for choice in choices %}
      <li{% if choice.selected %} class="selected"{% endif %}>
      <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

</details>
