<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% load i18n static %}


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="{% url 'core:core_dashboard' %}">
        <img 
          src="{% if branding.organization_logo_white %}{% get_media_prefix %}{{ branding.organization_logo_white }}{% else %}{% static 'branding/dlcdb_logo_white.svg' %}{% endif %}"
          alt="{{ branding.organization_abbr }}"
        >
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto">

        {% include 'admin/includes/nav_item.html' with nav_items=nav_items slot="nav_main" only %}
        
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProcessesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Processes" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarProcessesDropdown">
            {% include 'admin/includes/nav_item.html' with nav_items=nav_items slot="nav_processes" only %}
          </div>
        </div>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDataDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Data management" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDataDropdown">
            {% include 'admin/includes/nav_item.html' with nav_items=nav_items slot="nav_masterdata" only %}
          </div>
        </div>

      </div>
      
      <div class="navbar-nav">

        <div class="btn-group">
          {% include 'tenants/navbar_current_tenant.html' %}

          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> 
            {{ request.user.username }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'admin:app_list' 'reporting' %}">
                <i class="fa fa-bell" aria-hidden="true"></i>
                Reporting
            </a>
            <div class="dropdown-divider"></div>
            {% include 'logout_link.html' %}
          </div>
        </div>

        {% include "admin/color_theme_toggle.html" %}

      </div>

    </div>
  </nav>

</div>
