<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% load i18n static %}


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="{% url 'dashboard:index' %}">
        <img 
          {# src="{% if branding.organization_logo_white %}{% get_media_prefix %}{{ branding.organization_logo_white }}{% else %}{% static 'branding/dlcdb_logo_white.svg' %}{% endif %}" #}
          src="{% static 'branding/dlcdb_logo_dark.svg' %}"
          alt="{{ branding.organization_abbr }}"
          style="height: 30px;"
        >
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto">

        {% include 'admin/includes/nav_item.html' with nav_items=nav_items_main only %}
        
        {% if nav_items_processes %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProcessesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Processes" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarProcessesDropdown">
            {% include 'admin/includes/nav_item.html' with nav_items=nav_items_processes only %}
          </div>
        </div>
        {% endif %}

        {% if nav_items_masterdata %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDataDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Data management" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDataDropdown">
            {% include 'admin/includes/nav_item.html' with nav_items=nav_items_masterdata only %}
          </div>
        </div>
        {% endif %}

      </div>
      
      <div class="navbar-nav">
        <div class="btn-group" role="group">
          {% if branding.documentation_url %}
          <a
              class="btn btn-primary text-nowrap"
              href="{{ branding.documentation_url }}"
          >
              <i class="bi bi-book"></i> Docs
          </a>
          {% else %}
          <a
              href="{% url 'admin:organization_branding_changelist' %}"
              class="btn btn-danger"
          >
              <i class="bi bi-book"></i> Documentation URL not set in Organization Branding.
          </a>
          {% endif %}

          {% if nav_items_settings %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="{% translate 'Settings' %}">
              <i class="bi bi-gear" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              {% for nav_item in nav_items_settings %}
              <a class="dropdown-item" href="{% url nav_item.url %}">
                {% if nav_item.icon %}<i class="{{ nav_item.icon }}"></i>{% endif %}
                {{ nav_item.label }}
              </a>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% include 'tenants/navbar_current_tenant.html' %}

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="{{ request.user.email }}">
              <i class="bi bi-person" aria-hidden="true"></i>
              {{ request.user.email_localpart }}
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="{% url 'admin:app_list' 'notifications' %}">
                  <i class="bi bi-bell" aria-hidden="true"></i>
                  Notifications
              </a>
              <a class="dropdown-item" href="{% url 'admin:app_list' 'reporting' %}">
                  <i class="bi bi-file-earmark-spreadsheet" aria-hidden="true"></i>
                  Reports
              </a>

              <div class="dropdown-divider"></div>

              {# Language switcher: manual override of the browser-detected language #}
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              <h6 class="dropdown-header">
                <span>{% translate 'Language' %}</span>
                <i class="bi bi-translate"></i>
              </h6>
              {% for code, name in LANGUAGES %}
                <form action="{% url 'set_language' %}" method="post" class="m-0">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.get_full_path }}">
                  <input name="language" type="hidden" value="{{ code }}">
                  <button type="submit" class="dropdown-item d-flex align-items-center{% if code == LANGUAGE_CODE %} active{% endif %}">
                    <i class="bi bi-check2 me-2{% if code != LANGUAGE_CODE %} invisible{% endif %}"></i>{{ name }}
                  </button>
                </form>
              {% endfor %}

              <div class="dropdown-divider"></div>

              {% include 'logout_link.html' %}
            </div>
          </div>
        </div>

        {% include "admin/color_theme_toggle.html" %}

      </div>

    </div>
  </nav>

</div>
