{% load i18n static %}


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="{% url "core_dashboard" %}">
        <img src="{% static "dlcdb/wortbildmarke_csl_en.svg" %}"> {# dlcdb/mpicc_header.png #}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="{% url "admin:core_lentrecord_changelist" %}">
                Verleihen
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "admin:core_licencerecord_changelist" %}">
            Lizenzen
          </a>
        </li>

        {% comment %}
        {% if perms.core.change_inventory %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "inventory:inventorize-room-list" %}">
            Inventarisieren
          </a>
        </li>
        {% endif %}
        {% endcomment %}

        <li class="nav-item">
            <a class="nav-link" href="{% url "admin:core_device_changelist" %}">
                Devices
            </a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProcessesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Prozesse
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarProcessesDropdown">
            <a class="dropdown-item" href="{% url "admin:core_lentrecord_changelist" %}">
                Verleihen
            </a>
            
            {% if perms.core.change_inventory %}
              <a class="dropdown-item" href="{% url "inventory:inventorize-room-list" %}">
                Inventarisieren
              </a>
              <a class="dropdown-item" href="{% url "admin:inventory_saplist_changelist" %}">
                Abgleichen mit SAP
              </a>
            {% endif %}

            <a class="dropdown-item" href="{% url "admin:core_orderedrecord_changelist" %}">
                Beschaffen
            </a>
            <a class="dropdown-item" href="{% url "admin:core_importerlist_changelist" %}">
                Bulk-Importieren
            </a>
            {% if perms.core.add_removedrecord %}
              <a class="dropdown-item" href="{% url "admin:core_removerlist_changelist" %}">
                  Bulk-Ausmustern
              </a>
            {% endif %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDataDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Datenhaltung
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDataDropdown">
            <a class="dropdown-item" href="{% url "admin:core_device_changelist" %}">
                Devices
            </a>
            <a class="dropdown-item" href="{% url "admin:core_licencerecord_changelist" %}">
              Lizenzen
            </a>

            {% if perms.core.change_room %}
              <a class="dropdown-item" href="{% url "admin:core_room_changelist" %}">
                  Räume
              </a>
            {% endif %}
            
            <a class="dropdown-item" href="{% url "admin:core_record_changelist" %}">
                Records
            </a>
            <a class="dropdown-item" href="{% url "admin:core_removedrecord_changelist" %}">
                Entfernt-Records
            </a>

            {% if perms.core.change_inventory %}
              <a class="dropdown-item" href="{% url "admin:core_inventory_changelist" %}">
                  Inventuren
              </a>
            {% endif %}

            <a class="dropdown-item" href="{% url "admin:core_supplier_changelist" %}">
                Zulieferer
            </a>
            <a class="dropdown-item" href="{% url "admin:core_devicetype_changelist" %}">
                Devicetypen
            </a>
            <a class="dropdown-item" href="{% url "admin:core_person_changelist" %}">
                Personen
            </a>
            <a class="dropdown-item" href="{% url "admin:core_note_changelist" %}">
                Notizen
            </a>
          </div>
        </li>

      </ul>
      
      <div class="navbar-nav">

        <div class="btn-group">
          {% include 'tenants/navbar_current_tenant.html' %}

          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{ request.user.username }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'admin:app_list' 'reporting' %}">
                <i class="fa fa-bell" aria-hidden="true"></i>
                Reporting
            </a>
            <a class="dropdown-item"  href="/docs/">
                <i class="fa fa-book" aria-hidden="true"></i> 
                Dokumentation
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="{% url 'admin:logout' %}">
                <i class="fa fa-sign-out"></i> 
                Logout {{ request.user.username }}
            </a>
          </div>
        </div>

      </div>

    </div>
  </nav>

</div>
