<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "admin/submit_line.html" %}
{% load i18n admin_urls %}

{% block submit-row %}

  {{ block.super }}

  {% if request.user.is_superuser and show_activate_deactivate %}
    {% if original and original.deleted_at %}
        <a href="{{ activate_url }}" class="deletelink">Activate</a>
    {% else %}
        <a href="{{ deactivate_url }}" class="deletelink">Deactivate</a>
    {% endif %}
  {% endif %}

{% endblock %}
