<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "print_base.html" %}


{% block print_extra_css %}
{% if lending_configuration.lending_preparation_checklist %}
<style>

    .pagebreak {
        break-before: page;
    }
    .admonition {
        background-color: #e6e6e6;
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        border-radius: .25rem;
        overflow: hidden;
    }
    .admonition.note {
        background-color: #ebf6eb;
    }
    .admonition-title {
        display: block;
        padding: .5rem 1rem;
        margin: -1rem;
        margin-bottom: -1rem;
        margin-bottom: 1rem;
        color: #fff;
        background-color: #313131;
    }
    .admonition.note .admonition-title {
        color: #fff;
        background-color: #5cb85c;
    }
</style>
{% endif %}
{% endblock %}

{% block main %}

    {% include 'core/lentrecord/includes/lent_sheet.html' with sheet_for="den/die Ausleiher/-in" %}

    {% include 'core/lentrecord/includes/interleaf.html' %}

    {% include 'core/lentrecord/includes/lent_sheet.html' with sheet_for="das Institut" pagebreak="before" %}

    {% include 'core/lentrecord/includes/lent_checklist.html' with pagebreak="before" %}

{% endblock %}
