{% extends "print_base.html" %}

{% load markdown_extras %}


{% block print_extra_css %}
{% if lending_configuration.lending_preparation_checklist %}
<style>
    .checklist {
        break-before: page;
        font-family: monospace;
    }
    .admonition {
        background-color: #e6e6e6;
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        border-radius: .25rem;
        overflow: hidden;
    }
    .admonition.note {
        background-color: #ebf6eb;
    }
    .admonition-title {
        display: block;
        padding: .5rem 1rem;
        margin: -1rem;
        margin-bottom: -1rem;
        margin-bottom: 1rem;
        color: #fff;
        background-color: #313131;
    }
    .admonition.note .admonition-title {
        color: #fff;
        background-color: #5cb85c;
    }
</style>
{% endif %}
{% endblock %}

{% block main %}

    <h2>Geräte Verleih</h2>
    <p>Antrag auf Ausleihe eines EDV-Geräts</p>

    <table>
        <thead>
            <tr>
                <th colspan="2">I. Ausleiher</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Name:
                    <br>
                    <i>(Name, Vorname)</i>
                </th>
                <td>{{ record.person }}</td>
            </tr>
            <tr>
                <th>Forschungsgruppe/Abteilung:</th>
                <td>{{ record.person.organizational_unit.name }}</td>
            </tr>
            <tr>
                <th>Ausleihgrund:</th>
                <td>{{ record.reason }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">II. EDV Gerät</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Gerät</th>
                <td>
                    <strong>
                        {{ record.device }}, Inventarnummer: {{ record.device.sap_id|default:'n/a' }}
                        {% if record.device.manufacturer or record.device.series %}
                            <br>
                            {{ record.device.manufacturer }} {{ record.device.device_type }} {{ record.device.series }} 
                            {% if record.device.serial_number %}
                                ({{ record.device.serial_number }})
                            {% endif %}
                        {% endif %}
                    </strong>
                    <br>
                    <i style="font-size: smaller;">Tenant: {{ record.device.tenant }}</i>
                </td>
            </tr>
            <tr>
                <th>
                    Sonstiges:
                    <br>
                    <i>(Zubehör, Mängel, Zusätze)</i>
                </th>
                <td>{{ record.lent_accessories|linebreaks }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">III. Ausleihe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Vereinbarte Ausleihfrist</th>
                <td>Vom {{ record.lent_start_date }} {% if record.lent_desired_end_date %}bis {{ record.lent_desired_end_date }}{% endif %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>
                        Ich bestätige, dass ich das Gerät in einwandfreiem Zustand am {{ record.lent_start_date }} erhalten habe. Ich werde das Gerät pfleglich und mit Sorgfalt behandeln. Ich bin darauf hingewiesen worden, dass ich bei Verlust oder Beschädigung regresspflichtig gemacht werden kann.
                        Diebstahl aus nicht gesicherten Bereichen, sowie Verletzungen der Sorgfaltspflicht bei Transport gelten als grob fahrlässig.
                        <!--Die Ausführung in <b>Anlage 1</b> zum Geräteverleih habe ich zur Kenntnis genommen. -->
                    </p>

                    {% if lending_configuration.mandatory_regulations.all %}
                        Ich bestätige, die folgenden Ordnungen zur Kenntnis genommen zu haben:
                        <ul>
                        {% for regulation in lending_configuration.mandatory_regulations.all %}
                        <li>
                            ☑ {{ regulation.linktext}} &lt;<a href="{{ regulation.display_url }}">{{ regulation.display_url }}</a>&gt;
                        </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="confirmation">
                        <p>Freiburg, den {% now "SHORT_DATE_FORMAT" %}</p>
                        <p class="signature">Unterschrift des/der Ausleiher/in</p>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">IV. Verleih-Bearbeitung <span>(EDV-Abteilung)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Bearbeitet:</th>
                <td>

                    <table>
                        <tr>
                            <td>Name:</td>
                            <td></td>
                            <td>Datum: {% now "SHORT_DATE_FORMAT" %}</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">V. Rückgabe-Bearbeitung <span>(EDV-Abteilung)</span></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th>Zurückerhalten:</th>
                <td>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td></td>
                            <td>Datum: {# now "SHORT_DATE_FORMAT" #}</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Zustand:</th>
                <td></td>
            </tr>

        </tbody>
    </table>

    {% if lending_configuration.lending_preparation_checklist %}
    <div class="checklist">
        <h2>
            Checklist for 
            EDV-ID: {{ record.device.edv_id|default:'n/a' }}, 
            SAP-ID: {{ record.device.sap_id|default:'n/a' }}
            <br>
            {{ record.device.manufacturer }} {{ record.device.series }}
            <br>
            for {{ record.person }}
        </h2>
        <hr>
        {{ lending_configuration.lending_preparation_checklist | from_markdown | safe }}
        <hr>
    </div>
    {% endif %}

{% endblock %}
