<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% load static %}
{% load django_htmx %}

<!doctype html>
<html lang="en" translate="no">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %} | DLCDB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {# <meta name="htmx-config" content='{"getCacheBusterParam":"true"}'> #}
  <link rel="stylesheet" href="{% static 'theme/css/theme.css' %}">
  {% block extra_css %}{% endblock extra_css %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="container">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ navigation.home_url }}">
                <img 
                  src="{% if branding.organization_logo_black %}{% get_media_prefix %}{{ branding.organization_logo_white }}{% else %}{% static 'branding/dlcdb_logo_black.svg' %}{% endif %}"
                  alt="{{ branding.organization_abbr }}"
                  style="max-height: 30px;"
                  >
                <i class="{{ navigation.app_icon_class }}"></i>
                {{ navigation.app_label }}
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">

                  {% if navigation.navbar %}
                    {% for item in navigation.navbar %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}">
                          <i class="{{ item.icon_class }}"></i>
                          {{ item.label }}
                        </a>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>

                <ul  class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person"></i>
                      {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu">
                      {% include 'theme/logout_link.html' %}
                      <div class="dropdown-divider"></div>

                      {% if navigation.userdropdown %}
                        {% for item in navigation.userdropdown %}
                          <a class="dropdown-item" href="{{ item.url }}">
                            <i class="{{ item.icon_class }}"></i>
                            {{ item.label }}
                          </a>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </li>
                </ul>
            </div>
        </nav>

        {% if messages %}
        <div class="messages my-1">
            {% for message in messages %}
              <div {% if message.tags %} class="alert-{{ message.tags }} alert alert-dismissible fade show my-1"{% endif %}>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        </div>
        {% endif %}

        <main class="my-4">
        {% block body %}{% endblock body %}
        </main>

    </div>
    <script src="{% static 'theme/js/theme.js' %}"></script>
    {% django_htmx_script %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
