/* .navbar_extra_footer {
    display: none;
} */

#site-navigation div.navbar_extra_footer {
    text-align: left;
}

/* details {
    margin-bottom: 0.5em;
    border: 1px solid silver; 
    border-radius: 5px; 
    padding: 0.5em 1em;
}

summary {
    font-size: larger;
} */


.fa-svg {
    height: 1em;
    vertical-align: -0.2em;
}