{% extends 'lending/base_lending.html' %}


{% block body %}

    <h1>Person Search</h1>
    
    <form method="GET">
        {# filter.form.as_p #}

        <input 
            type="search"
            name="search" 
            placeholder="Tippe halt mal was..." 
            autocomplete="off" 
            style="padding: 1em;"
            value="{{ request.GET.search }}"
            hx-get="{% url 'smallstuff:person_search' %}"
            hx-trigger="keyup changed delay:250ms, search" 
            hx-target="#typeahead-results"
        >
    </form>

    <hr>

    <div id="typeahead-results">
        <p>You did not search for something, did you?</p>
    </div>

{% endblock body %}
