{% extends 'lending/base_lending.html' %}


{% block body %}

<div class="row">
    <div class="col-6">
        <h1>
            Person
        </h1>
    </div>
    <div class="col-6 text-right">
        <a href="{% url 'smallstuff:person_search' %}" class="btn btn-info">
            <i class="fas fa-search"></i>
            Search User
        </a>
    </div>
</div>


{% include 'smallstuff/includes/person_list_item.html' %}

<hr>

<div class="alert alert-info" id="thingies">
    {% include 'smallstuff/thingies.html' %}
</div>

{% endblock body %}