{% extends 'lending/base_lending.html' %}


{% block body %}

<div class="row">
    <div class="col-6">
        <h1>
            Person
        </h1>
    </div>
    <div class="col-6 text-right">
        <a href="{% url 'lending:person_search' %}" class="btn btn-info">
            <i class="fas fa-search"></i>
            Search User
        </a>
    </div>
</div>





{% include 'lending/includes/person_list_item.html' %}

<hr>

<div class="alert alert-info">
    <h4 class="alert-heading">
        Ausleihen

        {% comment %}
        <a href="{% url 'lending:add_lending' person.id %}">Neue Ausleihe</a>
        {% endcomment %}

        <button 
            id="add-new-lending"
            type="button"
            class="btn btn-primary"
            hx-target="#new-lending-form"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-get="{% url 'lending:add_lending' person.id %}"
        >
            <i class="fas fa-plus"></i>
            Neue Ausleihe
        </button>

    </h4>

    <hr>

    <div id="new-lending-form"></div>


    {% if lendings %}
    <div id="current-lendings">
        <ol>
        {% for asset in lendings %}
            <li class="m-1">
                {{ asset }}
                
                <a 
                    class="btn btn-success btn-sm" 
                    target="_blank"
                    href="{% url 'core:print_lent_sheet' asset.active_record.pk %}"
                >
                    <i class="fas fa-print"></i> Ausleihzettel drucken
                </a>
            </li>
        {% endfor %}
        </ol>
        {% else %}
            <i>Aktuell keine Ausleihen</i>
        {% endif %}
    </div>

</div>

{% endblock body %}