// $brand-primary: rgb(16,66,122);
// $brand-primary-light: lighten( $brand-primary, 50% );
// $brand-primary-light: rgba( $brand-primary, .15 );


// $theme-colors: (
//   "primary": $brand-primary,
//   "primary-light": $brand-primary-light,
// );

$enable-responsive-font-sizes: false;
$font-size-base:  0.75rem;

/* --- Set common styles ---------------------------------------------------- */

/* todo: only include used bootstrap components */
@import "bootstrap/scss/bootstrap";

@import "tom-select/dist/css/tom-select.bootstrap5.min";

@import "_fontawesome";
@import "_helpers";
@import "_layout";


.tr-note td {
    border-top: 0;
    padding: 0;
}
.note-update-wrapper {
    padding: 1rem;
}
.note-update-form {
    max-width: 600px;
    margin: 0 auto;
}
.note-update-form textarea {
    height: 5rem;
}

