/*
Available variables:

* light mode:
  https://github.com/django/django/blob/main/django/contrib/admin/static/admin/css/base.css
* dark mode:
  https://github.com/django/django/blob/main/django/contrib/admin/static/admin/css/dark_mode.css
*/

html[data-theme="light"],
:root {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);

    color-scheme: light;
}


@media (prefers-color-scheme: dark) {
    :root {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);
    color-scheme: dark;
    }
}



html[data-theme="dark"] {
    --header-bg: var(--dlcdb-color-primary-light);
    --breadcrumbs-bg: var(--dlcdb-color-primary-light);

    color-scheme: dark;
}

.submit-row {
    .closelink,
    .deletelink {
        box-sizing: content-box;
    }
}

.form-row {
  legend {
      width: inherit;
      margin-bottom: 0;
      font-size: inherit;
  }

  @media (min-width: 1200px) {
      legend {
          font-size: inherit;
      }
  }

  legend,
  label {
      font-weight: normal;
      color: var(--body-quiet-color);
      font-size: 0.8125rem;
      box-sizing: content-box;
  }
  legend + * {
    clear: inherit;
  }
}

.aligned legend {
  float: inline-start;
}

fieldset .fieldset-heading,
fieldset .inline-heading,
:not(.inline-related) .collapse summary {
  border-radius: 4px;
}

.module h2,
.module caption,
.inline-group h2 {
  border-radius: 4px 4px 0 0;
}
