<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->
{% load i18n %}

{% if request.tenants|length == 1 %}
<span
    class="btn btn-secondary"
    style="cursor: default;"
    title="{% translate 'Tenant' %}: {{ request.tenants.0 }}"
>
    {{ request.tenants.0 }}
</span>
{% elif request.tenants %}
<span
    class="btn btn-secondary"
    style="cursor: default;"
    title="{% translate 'Tenants' %}: {{ request.tenants|join:', ' }}"
>
    {% blocktranslate count counter=request.tenants|length %}{{ counter }} tenant{% plural %}{{ counter }} tenants{% endblocktranslate %}
</span>
{% endif %}

{% if request.user.is_superuser %}
<button
    class="btn btn-danger"
    title="{% translate 'All permissions, but only the devices of your tenants' %}"
>
    Superuser
</button>
{% endif %}
