{% if branding.documentation_url %}
<a
    class="btn btn-success"
    href="{{ branding.documentation_url }}"
>
    <i class="fa-solid fa-book"></i> Docs
</a>
{% else %}
<a
    href="{% url 'admin:organization_branding_changelist' %}"
    class="btn btn-danger"
>
    <i class="fa-solid fa-book"></i> Documentation URL not set in Organization Branding!
</a>
{% endif %}

<button type="button" class="btn btn-warning" title="Tenant: {{ request.tenant }}">
    {{ request.tenant|default:"No tenant set!" }}
</button>

{% if request.user.is_superuser %}
    <button class="btn btn-danger">
        Superuser
    </button>
{% endif %}
