{% if branding.documentation_url %}
<button
    class="btn btn-success"
    onclick="location.href='{{ branding.documentation_url }}'"
    type="button"
>
    <i class="fa-solid fa-book"></i> Docs
</button>
{% else %}
<button
    onclick="location.href='{% url 'admin:organization_branding_changelist' %}'"
    class="btn btn-danger"
    type="button"
>
    <i class="fa-solid fa-book"></i> Documentation URL not set in Organization Branding!
</button>
{% endif %}

<button type="button" class="btn btn-warning" title="Tenant: {{ request.tenant }}">
    {{ request.tenant|default:"No tenant set!" }}
</button>

{% if request.user.is_superuser %}
    <button class="btn btn-danger">
        Superuser
    </button>
{% endif %}
