{% extends "theme/_base.html" %}
{# SPDX-FileCopyrightText: Thomas Breitner #}
{# SPDX-License-Identifier: EUPL-1.2 #}
{% load i18n %}

{% block title %}403 · {% translate "Access denied" %}{% endblock title %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 text-center">
    <h1 class="h3">{% translate "Access denied" %}</h1>

    {% if exception %}
      <p class="alert alert-warning">{{ exception }}</p>
    {% endif %}

    <p>
      {% translate "You do not have permission to access this page or perform this action." %}
      <br>
      {% blocktrans with email=django_settings.DEFAULT_FROM_EMAIL %}If you believe this is an error, please contact <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}
    </p>

    {% if not request.user.is_authenticated %}
      <p>
        {% translate "If you are not logged in, please log in:" %}
        <br>
        <a class="mt-2 btn btn-primary" href="{% url 'login' %}">{% translate "Log in" %}</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock body %}
