{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Geräte Verleih | DLCDB</title>
    <link rel="stylesheet" href="{% static 'dist/css/print.css' %}">
    {% block print_extra_css %}{% endblock %}
</head>
<body>
<header>
    <img
        src="{% if branding.organization_logo_black %}{% get_media_prefix %}{{ branding.organization_logo_black }}{% else %}{% static 'branding/logo_acme_black.svg' %}{% endif %}"
        alt="{{ branding.organization_abbr }}"
    >
</header>

<main>
{% block main %}{% endblock %}
</main>

<footer>
    <table>
        <tbody>
            <tr>
                <td>
                    {{ branding.organization_abbr }}
                    <br>
                    {{ branding.organization_it_dept_name }}
                </td>
                <td>
                    {{ branding.organization_street }}
                    <br>
                    {{ branding.organization_zip_code }} {{ branding.organization_city }}
                </td>
                <td>
                    Tel.: {{ branding.organization_it_dept_phone }}
                </td>
                <td>
                    <a href="mailto:{{ branding.organization_it_dept_email }}">{{ branding.organization_it_dept_email }}</a><br>
                    <a href="{{ branding.organization_url }}">{{ branding.organization_url }}</a>
                </td>
                <td>
                    <img 
                        src="{% if branding.organization_figurative_mark %}{% get_media_prefix %}{{ branding.organization_figurative_mark }}{% else %}{% static 'branding/logo_acme_black.svg' %}{% endif %}"
                        alt=""
                    >
                </td>
            </tr>
        </tbody>
    </table>
</footer>

</body>
</html>
