{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Geräte Verleih | DLCDB</title>
    <link rel="stylesheet" href="{% static 'dist/css/print.css' %}" />
</head>
<body>

<header>
    <img src="{% static BRANDING_LOGO_BW %}" alt="{{ BRANDING_ORG_ABBR }}">
</header>


<main>
{% block main %}

{% endblock %}
</main>

<footer>
    <table>
        <tbody>
            <tr>
                <td>
                    {{ BRANDING_ORG_ABBR }}
                    <br>
                    {{ BRANDING_IT_DEPT_NAME }}
                </td>
                <td>
                    {{ BRANDING_ORG_STREET }}
                    <br>
                    {{ BRANDING_ORG_ZIP_CITY }}
                </td>
                <td>
                    Tel.: {{ BRANDING_IT_DEPT_PHONE }}
                </td>
                <td>
                    <a href="mailto:{{ BRANDING_IT_DEPT_MAIL }}">{{ BRANDING_IT_DEPT_MAIL }}</a><br>
                    <a href="{{ BRANDING_ORG_URL }}">{{ BRANDING_ORG_URL }}</a>
                </td>
                <td>
                    <img src="{% static 'dlcdb/branding/minerva.svg' %}" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</footer>

</body>
</html>
