<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% load static %}
{% load django_htmx %}

<!doctype html>
<html lang="en" translate="no">

<head>
  <meta charset="utf-8">
  <title>Inventur | DLCDB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="htmx-config" content='{"getCacheBusterParam":"true"}'>
  <link rel="stylesheet" href="{% static 'inventory/dist/inventory.css' %}">
  {% block extra_css %}{% endblock extra_css %}
  <script defer src="{% static 'inventory/dist/inventory.js' %}"></script>
</head>

<body
  data-page="{% block data_page %}{% endblock data_page %}"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>

    {{ js_vars|json_script:"js_vars" }}

    <div class="container">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'inventory:inventorize-room-list' %}" title="To room list">
                <img src="{% static 'inventory/dlcdb-inventory-logo.svg' %}" alt="DLCDB Inventory room list">
            </a>

            {% if current_inventory %}
              <span class="badge text-bg-primary">
                  <img src="{% static 'admin/img/icon-yes.svg' %}" alt="">
                  {{ current_inventory.name }}
              </span>
            {% else %}
              <span class="badge text-bg-danger">
                No active inventory
              </span>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventory:inventorize-room-list' %}">
                          Rooms
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'inventory:search-devices' %}">
                        Devices
                      </a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Backend</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarReportDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Misc
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarReportDropdown">
                          <a 
                            class="dropdown-item" 
                            href="{% url 'inventory:inventory-lending-report' %}"
                            title="Liste im Besitz von Mitarbeitern befindliche Vermögensgegenstände"
                          >
                            VG bei MAs
                          </a>
                        </div>
                    </li>
                </ul>

                <ul  class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu">
                      {% include 'logout_link.html' %}
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item"
                        href="{{ branding.documentation_url }}guides/inventur.html"
                      >
                        <i class="fa-solid fa-book-medical"></i>
                        Docs
                      </a>
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-item">
                        <div class="form-check form-switch">
                          <input
                            id="qr-toggle"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            {% if request.session.qrscanner_enabled == 1 %} checked {% endif %}
                          >
                          <label
                            class="form-check-label"
                            for="qr-toggle"
                            title="QR scanner"
                          >
                            QR
                          </label>
                        </div>
                        
                      </span>
                    </div>
                  </li>
                </ul>
            </div>
        </nav>

        {% if messages %}
        <hr>
        <div class="messages">
            {% for message in messages %}
              <div {% if message.tags %} class="py-1 my-1 alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
              </div>
            {% endfor %}
        </div>
        {% endif %}

        <hr>

        {% if not current_inventory %}
        <div class="alert alert-danger">
            <h2>Keine aktive Inventur gefunden</h2>
            Bitte legen Sie eine Inventur an.
        </div>
        <hr>
        {% endif %}

        {% block body %}{% endblock body %}

    </div>
    {% django_htmx_script %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
