{% load static %}
{% load django_htmx %}

<!doctype html>
<html lang="en" translate="no">

<head>
  <meta charset="utf-8">
  <title>Inventur | DLCDB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'dist/inventory/css/inventory2.css' %}">
  {% block extra_css %}{% endblock extra_css %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="container">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'inventory:inventorize-room-list' %}" title="To room list">
                <img src="{% static 'dist/inventory/img/dlcdb-inventory-logo.svg' %}" alt="DLCDB Inventory room list">
            </a>

            {% if current_inventory %}
              <span class="badge badge-primary">
                  <img src="{% static 'admin/img/icon-yes.svg' %}" alt="">
                  {{ current_inventory.name }}
              </span>
            {% else %}
              <span class="badge badge-danger">
                No active inventory
              </span>
            {% endif %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventory:inventorize-room-list' %}">
                          Rooms
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'inventory:search-devices' %}">
                        Devices
                      </a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Backend</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarReportDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                          Misc
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarReportDropdown">
                          <a 
                            class="dropdown-item" 
                            href="{% url 'inventory:inventory-lending-report' %}"
                            title="Liste im Besitz von Mitarbeitern befindliche Vermögensgegenstände"
                          >
                            VG bei MAs
                          </a>
                        </div>
                    </li>
                </ul>

                <ul  class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu">
                      <a
                        class="dropdown-item"
                        href="{% url 'admin:logout' %}"
                      >
                        <i class="fa fa-sign-out"></i>
                        Logout
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item"
                        href="{{ branding.documentation_url }}guides/inventur.html"
                      >
                        <i class="fa-solid fa-book-medical"></i>
                        Docs
                      </a>
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-item">
                        <span class="custom-control custom-switch qr-toggle-swicht">
                          <input type="checkbox" {% if request.session.qrscanner_enabled == 1 %} checked {% endif %} class="custom-control-input" id="qr-toggle">
                          <label class="custom-control-label" for="qr-toggle" title="QR scanner">QR</label>
                        </span>
                      </span>
                    </div>
                  </li>
                </ul>
            </div>
        </nav>

        {% if messages %}
        <hr>
        <div class="messages">
            {% for message in messages %}
              <div {% if message.tags %} class="py-1 my-1 alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
              </div>
            {% endfor %}
        </div>
        {% endif %}

        <hr>

        {% if not current_inventory %}
        <div class="alert alert-danger">
            <h2>Keine aktive Inventur gefunden</h2>
            Bitte legen Sie eine Inventur an.
        </div>
        <hr>
        {% endif %}

        {% block body %}{% endblock body %}

    </div>
    <script src="{% static 'dist/inventory/js/app.js' %}"></script>
    {% django_htmx_script %}

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
