<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "inventory/base_inventory.html" %}
{% load crispy_forms_tags %}


{% block body %}

<div 
    hx-push-url="true"
    hx-target="#device-search-htmx"
>


<div id="device-search-form" class="small alert alert-info">
    <div class="d-flex bd-highlight">
        <div class="w-100">
            <form
                id="id-search-form"
                autocomplete="off"
                hx-trigger="keyup, change, input, keyup[target.value.length < 3] from:#id_q changed delay:500ms"
                hx-get
                hx-push-url="false"
            >
                {% crispy filter_devices.form %}
            </form>
    
        </div>
        <div class="p-2 pt-3 flex-shrink-1 align-self-center">
            <a href="." class="btn btn-secondary">Reset</a>
        </div>
      </div>
</div>


<div
    id="device-search-htmx"
    hx-trigger="load"
    hx-get
>
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

</div>

{% include 'inventory/partials/bs_modal.html' %}
{% include 'inventory/partials/bs_toast.html' %}

{% endblock body %}
