<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "inventory/base_inventory.html" %}

{% load crispy_forms_tags %}


{% block extra_js %}
<script type="module">
    {% include 'inventory/includes/qrtoggle.js' %}
</script>

{% include 'inventory/includes/inventorize-jsinit.html' %}

{% endblock extra_js %}


{% block body %}
{% if current_inventory %}


    {% include 'inventory/includes/qrvideo.html' %}
    {% include 'inventory/includes/inventory_progress.html' %}

    <hr>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3>
                Rooms 
                <span class="badge text-bg-secondary">
                    {{ filter.qs|length }}
                </span>
            </h3>
        </div>
        <div class="col-10 col-md-5">
            <form>
                <div class="form-group">
                    <div class="input-group ">
                        <input 
                            type="text"
                            name="q"
                            class="textinput form-control"
                            id="id_q"
                            autofocus
                            placeholder="Search rooms..."
                            hx-trigger="keyup changed delay:500ms"
                            hx-target="#room-list-body"
                            hx-push-url="true"
                            hx-get="."
                        >
                        <span class="input-group-append">
                                <button class="btn btn-sm btn btn-outline-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </div>
               </div>
            </form>
        </div>
        <div class="col-2 col-md-1">
            {% if branding.room_plan %}
            <a 
                class="btn btn-outline-primary"
                title="Room plan"
                href="{{ branding.room_plan.url }}"
            >
                <i class="fa-regular fa-map fa-lg"></i>
            </a>
            {% else %}
            <span 
                class="btn btn-outline-secondary disabled"
                title="Currently no room plan uploaded."
            >
                <i class="fa-regular fa-map fa-lg"></i>
            </span>
            {% endif %}
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Room</th>
                <th>Note</th>
                <th>Devices</th>
            </tr>
        </thead>

        <tbody
            id="room-list-body"
            hx-trigger="load, objectListChanged from:body"
            hx-get hx-params="*"
            hx-target="this"
        >
            <tr>
                <td colspan="3">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </td>
              </tr>
        </tbody>
    </table>

    {% include 'inventory/includes/bootstrap/modal.html' with modal_id="switch_room_modal" modal_title="New room scanned" modal_body="Be sure to save the inventory of the current room before switching to a new room" modal_proceed_id="change_room" modal_proceed_text="Switch to room" %}

    {% include 'inventory/partials/bs_modal.html' %}
    {% include 'inventory/partials/bs_toast.html' %}

{% endif %}{# endif for current_inventory exists #}
{% endblock body %}
