{% extends "inventory/base_inventory.html" %}

{% load crispy_forms_tags %}


{% block extra_js %}
<script type="module">
    $('#id_room').select2({
        theme: 'bootstrap4',
    });
</script>

{% include 'inventory/includes/qrvideo-jsinit.html' %}

{% endblock extra_js %}


{% block body %}

    {% include 'inventory/includes/qrvideo.html' %}
    {% include 'inventory/includes/inventory_progress.html' %}

    <hr>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3>
                Rooms 
                <span class="badge badge-secondary">
                    {{ filter.qs|length }}
                </span>
            </h3>
        </div>
        <div class="col-12 col-md-6">
            {% crispy filter.form %}
        </div>

    </div>


    {% comment %}
        <div class="col">
            <span id="cam-has-camera" style="display: none;"></span>
            <video muted playsinline id="qr-video" style="max-height: 200px; max-width: 200px;"></video>
        </div>

        <form method="get">
            <div class="input-group input-group-sm mb-3">
                {{ filter.form.q }}
                <div class="input-group-append">
                    <button class="btn-sm btn btn-outline-primary" type="submit" id="search-room-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        {% include 'inventory/includes/pagination.html' %}
    {% endcomment %}


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Room</th>
                <th>Note</th>
                <th>Devices</th>
                {# <th>QRs</th> #}
            </tr>
        </thead>
        <tbody>
        {% for room in object_list %}
        <tr id="tr_uuid_{{ room.uuid }}">
            <td>
                <a class="btn btn-outline-primary" href="{% url 'inventory:inventorize-room' room.pk %}">
                    {{ room }}
                </a>
            </td>
            <td>
                {% include 'inventory/includes/note.html' with note_obj=room note_objstr='room' change_url='admin:core_note_change' add_url='admin:core_note_add' %}
            </td>
            <td>
                {# room.get_inventory_status #}
                <a href="{% url 'inventory:inventorize-room' room.pk %}">
                {% include 'inventory/includes/inventory_status_badge.html' %}
                </a>
            </td>
            
            {% comment %}
            <td>
                <a href="{% url 'inventory:qr-room-printout' room.pk %}">
                    <i class="fas fa-qrcode"></i> QR codes
                </a>
            </td>
            {% endcomment %}

        </tr>
        {% empty %}
            <tr><td>No rooms found.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'inventory/includes/pagination.html' %}

    {% include 'inventory/includes/bootstrap/modal.html' with modal_id="switch_room_modal" modal_title="New room scanned" modal_body="Be sure to save the inventory of the current room before switching to a new room" modal_proceed_id="change_room" modal_proceed_text="Switch to room" %}

{% endblock body %}
