<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% if style == "badge" %}
    <span class="badge text-bg-{{ room.get_inventory_status.css_class }}">
        {{ room.get_inventory_status.n_of_ns }}
    </span>
{% else %}
    <span class="btn btn-sm btn-{{ room.get_inventory_status.css_class }}">
        <span class="badge text-bg-light">
            {{ room.get_inventory_status.n_of_ns }}
        </span>
        {{ room.get_inventory_status.status_str }}
    </span>
{% endif %}
