{% if note_obj.get_latest_note %}
    <button 
        hx-get="{% url 'inventory:room-note-update' room_pk=room.pk %}" 
        hx-target="#dialog"
        class="note-btn btn btn-sm btn-outline-primary"
    >
        <i class="fas fa-comment-alt"></i>
    </button>
{% else %}
    <button 
        hx-get="{% url 'inventory:room-note-update' room_pk=room.pk %}" 
        hx-target="#dialog"
        class="note-btn btn btn-sm btn-outline-primary"
    >
        <i class="far fa-comment-alt"></i>
    </button>
{% endif %}



{% comment %}
{% if note_obj.get_latest_note %}
    <a class="btn btn-sm btn-outline-primary related-widget-wrapper-link change-related"
        id="change_id_note"
        title="Notiz: {{ note_obj.get_latest_note.text }}"
        target="_blank"
        href="{% url change_url note_obj.get_latest_note.pk %}?_to_field=id&_popup=1&inventory={{ current_inventory.id }}&{{ note_objstr }}={{ note_obj.pk }}"
    >
        <i class="fas fa-comment-alt"></i>
    </a>
{% else %}
    <a
        class="btn btn-sm btn-outline-primary related-widget-wrapper-link add-related"
        id="add_id_room" 
        title="Add {{ note_objstr }} note"
        target="_blank"
        href="{% url add_url %}?_to_field=id&_popup=1&inventory={{ current_inventory.id }}&{{ note_objstr }}={{ note_obj.pk }}"
    >
        <i class="far fa-comment-alt"></i>
    </a>

    {% if note_obj.get_latest_note %}
    <span 
        class="note-btn btn btn-sm btn-outline-primary"
        hx-target="#room-{{ room.uuid }}-note" 
        hx-swap="innerHTML"
        hx-get="{% url 'inventory:room-note-update' room_pk=room.pk %}"
    >
        <i class="fas fa-comment-alt"></i>
    </span>
    {% else %}
    <span 
        class="note-btn btn btn-sm btn-outline-primary"
        hx-target="#room-{{ room.uuid }}-note" 
        hx-swap="innerHTML"
        hx-get="{% url 'inventory:room-note-update' room_pk=room.pk %}"
    >
        <i class="far fa-comment-alt"></i>
    </span>
    {% endif %}
    
{% endif %}
{% endcomment %}
