<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% if request.session.qrscanner_enabled == 1 %}

<div class="rounded bg-light my-2">
<div class="row">
    <div class="col">
        {% if room %}
        <a href="{% url 'inventory:qr-room-printout' room.pk %}">
            <img 
                src="{{ room.qrcode.url }}" 
                style="width: 60px; height: 60px"
            >
        </a>
        {% endif %}
        <span id="cam-has-camera" style="display: none;"></span>
    </div>
    <div class="col">
        <video muted playsinline 
            id="qr-video" 
            style="max-height: 200px; max-width: 200px;">
        </video>
    </div>
    <div class="col">
        <b>Detected QR code: </b>
        <span id="cam-qr-result">None</span>
        <br>
        <b>Last detected at: </b>
        <span id="cam-qr-result-timestamp"></span>
    </div>
</div>
</div>

{% endif %}
