
<div class="row">
    <div class="col-12 col-md-6">
        <h3>
            Devices 
            <span class="badge badge-secondary">
                {{ filter_devices.qs|length }} / {{ all_devices_count }}
            </span>
        </h3>
    </div>
    <div class="col-12 col-md-6">
        {% include 'inventory/includes/pagination_htmx.html' %}
    </div>
</div>

<form method="post">
    {% csrf_token %}

    <div class="table-responsive">
    <table id="devices-table" class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Device</th>
                <th>Record</th>
                <th>Tenant</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody id="devices-table-tbody">
          <tr>

{% for device in page_obj %}
    <tr 
        id="tr-uuid-{{ device.uuid }}"
        class="
            inventory_row 
            {% if device.active_record.inventory.is_active %}
                {{ dev_state_found }}
                table-success
            {% else %}
                {{ dev_state_unknown }}
                table-default
            {% endif %}
        "
    >
        <td>
            <div class="d-flex">
                <a class="strong d-block rounded bg-light p-1" href="{% url 'admin:core_device_change' device.pk %}">  {# ?_popup=1 #}
                    {% if device.edv_id %}
                        <div class="">
                            <small>EDV-ID:</small> <span class="text-monospace">{{ device }}</span>
                        </div>
                    {% endif %}
                    {% if device.sap_id %}
                        <div class="">
                            <small>SAP-ID:</small> <span class="text-monospace">{{ device.sap_id }}</span>
                        </div>
                    {% endif %}
                </a>
                <div class="ml-2 p-1">
                    <span class="badge badge-info small">
                        {{ device.device_type.name }}
                    </span>
                    <br>
                    {{ device.manufacturer|default:'' }}
                    <br>
                    {{ device.series|default:'' }}
                    {% if device.serial_number %}
                    <br>
                    Serial: <span class="text-monospace">{{ device.serial_number }}</span>
                    {% endif %}
                </div>
            </div>
        </td>
        <td>

            <div class="small">
                {% include "core/device/record_action_snippet.html" with device_obj=device is_device_detail_page=True %}
            </div>

            {% comment %}
            <span class="badge 
                {% if device.active_record.record_type == "LOST" %} badge-danger {% else %} badge-primary {% endif %} 
                text-center text-wrap {# text-break #}">
                {% if device.active_record.is_type_lent %}
                    {{ device.active_record.get_record_type_display }} an 
                    <br>
                    {{ device.active_record.person }}
                {% else %}
                    {{ device.active_record.get_record_type_display }}
                    {% if device.active_record.room %}
                        <br>
                        <span class="text-monospace">
                            {{ device.active_record.room|default:"n/a" }}
                        </span>
                    {% endif %}
                {% endif %}
            </span>
            <br>
            {% endcomment %}

            <span 
                class="text-muted"
                title="Record created at {{ device.active_record.created_at|date:"Y-m-d" }}, {{ device.active_record.created_at|timesince }} ago">
                {{ device.active_record.created_at|date:"Y-m-d" }}
            </span>
            
            {% if device.active_record.inventory %}
                <br>
                <span class="badge badge-success" title="Inventory: {{ device.active_record.inventory.name }}">
                    {{ device.active_record.inventory.name }}
                </span>
                <br>
            {% endif %}
        </td>
        <td>
            {{ device.tenant }}
        </td>
        <td>
            <div 
                hx-trigger="objectListChanged from:body"
                hx-get="{% url 'inventory:get_note_btn' obj_type='device' obj_uuid=device.uuid %}"
                hx-swap="innerHTML"
            >
                {% include 'inventory/includes/note_btn.html' with obj_type="device" obj=device obj_uuid=device.uuid %}
            </div>
        </td>
    </tr>
{% endfor %}


</tr>

</tbody>
</table>
</div>

</form>

<div class="row">
    <div class="col-12 col-md-6">
    </div>
    <div class="col-12 col-md-6">
        {% include 'inventory/includes/pagination_htmx.html' %}
    </div>
</div>
