<div class="row">
    <div class="col-12 col-md-6">
        <h3>
            Devices 
            <span class="badge text-bg-secondary">
                {{ filter_devices.qs|length }} / {{ all_devices_count }}
            </span>
        </h3>
    </div>
    <div class="col-12 col-md-6">
        {% include 'inventory/includes/pagination_htmx.html' %}
    </div>
</div>

<div class="table-responsive">
<table id="devices-table" class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Device</th>
            <th>Record</th>
            <th>Tenant</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody id="devices-table-tbody">
        <tr>

{% for device in page_obj %}
    <tr 
        id="tr-uuid-{{ device.uuid }}"
        class="
            inventory_row 
            {% if device.already_inventorized %}
                {{ dev_state_found }}
                table-success
            {% else %}
                {{ dev_state_unknown }}
                table-default
            {% endif %}
        "
    >
        <td>
            <div class="d-flex">
                <a class="strong d-block rounded bg-light p-1" href="{% url 'admin:core_device_change' device.pk %}">  {# ?_popup=1 #}
                    {% if device.edv_id %}
                        <div class="">
                            <small>EDV-ID:</small> <span class="text-monospace">{{ device }}</span>
                        </div>
                    {% endif %}
                    {% if device.sap_id %}
                        <div class="">
                            <small>SAP-ID:</small> <span class="text-monospace">{{ device.sap_id }}</span>
                        </div>
                    {% endif %}
                </a>
                <div class="ms-2 p-1">
                    <span class="badge text-bg-info small">
                        {{ device.device_type.name }}
                    </span>
                    <br>
                    {{ device.manufacturer|default:'' }}
                    <br>
                    {{ device.series|default:'' }}
                    {% if device.serial_number %}
                    <br>
                    Serial: <span class="text-monospace">{{ device.serial_number }}</span>
                    {% endif %}
                </div>
            </div>
        </td>
        <td>

            <div class="small">
                {{ device.state_data_rendered }}
            </div>

            <span 
                class="text-muted"
                title="Record created at {{ device.active_record.created_at|date:"Y-m-d" }}, {{ device.active_record.created_at|timesince }} ago">
                {{ device.active_record.created_at|date:"Y-m-d" }}
            </span>
            
            {% if device.already_inventorized %}
                <br>
                <span class="badge text-bg-success" title="Inventory: {{ device.active_record.inventory.name }}">
                    {{ current_inventory.name }}
                </span>
                <br>
            {% endif %}
        </td>
        <td>
            {{ device.tenant }}
        </td>
        <td>
            <div 
                hx-trigger="objectListChanged from:body"
                hx-get="{% url 'inventory:get_note_btn' obj_type='device' obj_uuid=device.uuid %}"
                hx-swap="innerHTML"
                hx-target="this"
                hx-push-url="false"
            >
                {% include 'inventory/includes/note_btn.html' with obj_type="device" obj=device obj_uuid=device.uuid %}
            </div>
        </td>
    </tr>
{% endfor %}

</tbody>
</table>
</div>

<div class="row">
    <div class="col-12 col-md-6">
    </div>
    <div class="col-12 col-md-6">
        {% include 'inventory/includes/pagination_htmx.html' %}
    </div>
</div>
