@import "bootstrap/scss/_functions";

$primary: rgb(27, 54, 93);
$link-decoration: underline;

// Bootstrap
@import "bootstrap/scss/_variables";

// Bootstrap: Include any default map overrides here
@import "_bootstrap_components";

// https://icons.getbootstrap.com/
$bootstrap-icons-font-dir: "../fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

@import "tom-select/dist/css/tom-select.bootstrap5.min.css";

// @import "components/debug";
@import "_screen";
