{% if assignments %}
    {% for assignment in assignments.all %}

    <span class="text-left m-1 btn 
            {% if assignment.unassigned_at %}
                btn-secondary text-white
            {% else %}
                btn-warning text-dark
            {% endif %}
    ">

        {% if not assignment.unassigned_at %}
        <a 
            hx-get="{% url 'smallstuff:remove_assignement' assignment.id %}"
            hx-trigger="click"
        >
            <i class="text-danger fa-solid fa-circle-xmark"></i>
        </a>
        {% endif %}

        <span>
            {{ assignment.thing.name }} 
            <br>
            <span>
                {% if assignment.assigned_at %}
                    ★ {{ assignment.assigned_at|date:"Y-m-d H:i:s" }}
                {% endif %}
                {% if assignment.unassigned_at %}
                    ☆ {{ assignment.unassigned_at|date:"Y-m-d H:i:s" }}
                {% endif %}
            </span>
        </span>
    </span>

    {% endfor %}
{% else %}
    <i>No things assigned yet.</i>
{% endif %}


