{% extends 'admin/change_list.html' %}


{% block search %}
    {% if not device_obj %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block filters %}
    {% if not device_obj %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block result_list %}
    {% if device_obj %}
        <a class="btn btn-primary mb-4" role="button" href="{% url 'admin:core_device_change' device_obj.id %}">
            <i class="fa fa-angle-left"></i> 
            <i class="fa-solid fa-barcode"></i> 
            Device {{ device_obj.edv_id }} / {{ device_obj.manufacturer }} / {{ device_obj.series }}
        </a>
    {% endif %}
    {{ block.super }}
{% endblock %}
