// $brand-primary: rgb(16,66,122);
// // $brand-primary-light: lighten( $brand-primary, 50% );
// $brand-primary-light: rgba( $brand-primary, .15 );


// $theme-colors: (
//   "primary": $brand-primary,
//   "primary-light": $brand-primary-light,
// );

$enable-responsive-font-sizes: false;
$font-size-base:  0.75rem;

/* --- Set common styles ---------------------------------------------------- */

// @import "bootswatch/dist/sketchy/_variables";

/* todo: only include used bootstrap components */
@import "bootstrap/scss/bootstrap";

// @import "bootswatch/dist/sketchy/_bootswatch";

@import "select2/dist/css/select2.min";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min";

@import "components/_fontawesome";
@import "components/_helpers";
@import "components/_layout";


.input-group > .select2-container--bootstrap4 {
    width: auto !important;
    flex: 1 1 auto;
}

.input-group > .select2-container--bootstrap4 .select2-selection--single {
    height: 100%;
    line-height: inherit;
}