{% extends 'frontend/base_frontend.html' %}


{% block body %}

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>
            Person
        </h1>
    </div>
    <div class="p-2">
        <a href="{% url 'smallstuff:person_search' %}" class="btn btn-info">
            <i class="fas fa-search"></i>
            Search
        </a>
        <a href="{% url 'admin:smallstuff_thing_changelist' %}" class="btn btn-primary">
            <i class="fa-solid fa-gear"></i>
        </a>
    </div>
</div>

{% if person %}
    {% include 'smallstuff/includes/person_list_item.html' %}

    <div class="alert alert-info" id="thingies">

        <div class="d-flex">
            <div class="mr-auto p-2">
                <h4 class="alert-heading">
                    Things
                </h4>
            </div>
            <div class="p-2">
                <span id="add-thing-button-or-form">
                    <a 
                        class="btn btn-danger text-left"
                        id="add-thing"
                        hx-trigger="click"
                        hx-target="#add-thing-button-or-form"
                        hx-get="{% url 'smallstuff:add_assignement' person.id %}"
                    >
                        <i class="fas fa-plus"></i>
                    </a>
                </span>

            </div>
        </div>

        <hr>

        <div 
            id="assignements" 
            hx-trigger="load, newAssignment from:body"
            hx-get="{% url 'smallstuff:get_assignements' person.id 'issued' %}"
        ></div>
{% else %}
    <div class="alert alert-warning">
        The requested person does not exist or does not have a current contract
        and current smallstuffs assigned.
    </div>
{% endif %}

</div>

{% endblock body %}
