{% extends 'frontend/base_frontend.html' %}


{% block body %}

    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>
                Kleinkram Person Search
                <span class="htmx-indicator"> 
                    <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Searching...</span>
                      </div>
                </span> 
            </h1>
        </div>
        <div class="p-2">
            <a href="{% url 'admin:core_device_changelist' %}" class="btn btn-primary" title="Backend Home">
                <i class="fa-solid fa-house-chimney"></i>
            </a>
            <a href="{% url 'admin:smallstuff_thing_changelist' %}" class="btn btn-primary" title="Backend Smallstuff">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
    </div>
    
    <form
        hx-post="{% url 'smallstuff:person_search' %}"
        hx-target="#search-results"
    >
        <div class="input-group mb-3">
            <input 
                type="text"
                name="search" 
                class="form-control"
                placeholder="Tippe halt mal was, oder einfach *" 
                autocomplete="off" 
                hx-trigger="keyup changed delay:200ms" 
                hx-indicator=".htmx-indicator"
                hx-post="{% url 'smallstuff:person_search' %}"
                hx-target="#search-results"
            >

            <div class="input-group-append">
                <span class="input-group-text">
                    <span id="results-count">0</span> 
                </span>
                <button class="btn btn-success" type="search">Search</button>
                <a class="btn btn-secondary" href="{% url 'smallstuff:person_search' %}">Reset</a>
            </div>
        </div>
    </form>

    <div id="search-results"></div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        
        const resultCountNode = document.getElementById('results-count');
        const targetNode = document.getElementById('search-results');
        
        // Options for the observer (which mutations to observe)
        const config = { attributes: true, childList: true, subtree: true };
        
        // Callback function to execute when mutations are observed
        const callback = function(mutationList, observer) {
            // Use traditional 'for loops' for IE 11
            for(const mutation of mutationList) {
                if (mutation.type === 'childList') {
                    console.log('A child node has been added or removed.');
                    let resultCount = targetNode.childElementCount;
                    console.log("resultCount: ", resultCount);
                    resultCountNode.textContent = resultCount;
                }
                // else if (mutation.type === 'attributes') {
                //     console.log('The ' + mutation.attributeName + ' attribute was modified.');
                // }
            }
        };
        
        // Create an observer instance linked to the callback function
        const observer = new MutationObserver(callback);
        
        // Start observing the target node for configured mutations
        observer.observe(targetNode, config);
        
    });
</script>


{% endblock body %}
