{% extends "admin/change_form.html" %}

 
{% block object-tools-items %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% if original %}
        <div class="btn-group" role="group">
            <a class="btn btn-info" role="button" href="{% url 'admin:core_device_change' original.device.id %}">
                <i class="fa fa-angle-left"></i> Zur Device-Ansicht
            </a>
            <a class="btn btn-info" role="button" href="{% url 'admin:core_record_changelist' %}">
                <i class="fa fa-angle-left"></i> Zur Record-Übersicht
            </a>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

