<!--
SPDX-FileCopyrightText: 2024 Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "admin/change_form.html" %}
{% load i18n %}


{% block content_subtitle %}
    {# Instance heading #}
    {#{ block.super }#}
    <div class="mb-4">
    {% if subtitle %}
        <div style="font-size: 1rem;" class="d-inline btn btn-primary disabled font-weight-bold">
            {{ subtitle }}
        </div>
    {% endif %}

    {% if original %}
        <div class="d-inline ms-4">
            {% include "core/device/record_action_snippet.html" with device_obj=original is_device_detail_page=True %}
        </div>
    {% endif %}
    </div>
{% endblock %}


{% block object-tools-items %}
    {% if inventory_status.active_inventory %}
    <li>
        <a 
            class="small"
            href="{{ inventory_status.inventorize_url }}"
            {% if inventory_status.already_inventorized %}
                style="background-color: var(--success)"
            {% else %}
                style="background-color: var(--danger)"
            {% endif %}
        >
            <i class="fa-solid fa-glasses"></i> 
            {% if inventory_status.already_inventorized %}
                {% translate "Already inventorized" %}
            {% else %}
                {% translate "Not yet inventorized" %}
            {% endif %}
        </a>
    </li>
    {% endif %}

    <li>
        <a class="small" href="{% url "admin:core_record_changelist" %}?device__id__exact={{ original.id }}">
            <i class="fa-solid fa-layer-group"></i> 
            {% translate "Show all records" %} {{ has_record_notes_badge|default:"" }}
        </a>
    </li>
    {{ block.super }}
{% endblock object-tools-items %}


{% block after_related_objects %}
    {{ block.super }}
    {% include 'core/note/note_listing.html' with notes=original.device_notes.all %}
{% endblock %}


{% block content %}
    {{ block.super }}

    {% if not original %}
    <script>
        // TODO: Do we want this pre-setting of prefixes?
        // apply automatic setting of the edv id prefix based on chosen type
        // (function() {
        //     let mapping = {{ device_type_mapping_json|safe }}

        //     let type_field = $('#id_type')
        //     let edv_id_field = $('#id_edv_id')

        //     $('#id_type').change(function() {
        //         var edv_id = edv_id_field.val()
        //         var type_val = type_field.val()
        //         var prefix = mapping[type_val]
        //         if (prefix && edv_id == '') {
        //             edv_id_field.val(prefix  + edv_id)
        //         }
        //     })
        // })()
    </script>
    {% endif %}

{% endblock %}
