{% load i18n admin_urls %}

<div class="btn-group btn-group{% if not is_device_detail_page %}-sm{% endif %}" role="group">

    {# FIXME: This if-for-view-eq-inventory-else should never have seen the light of day. #}
    {% if for_view == "inventory" %}

        {% for info in device_obj.get_record_action_snippet_for_inventory_views.record_infos %}
            {% if info.url %}
                <a 
                    class="{{ info.css_classes }} text-nowrap"
                    title="{{ info.title }}"
                    href="{{ info.url }}"
                >
                    {{ info.label }}
                </a>
            {% else %}
                <span
                    class="{{ info.css_classes }} text-nowrap"
                    title="{{ info.title }}"
                >
                    {{ info.label }}
                </span>
            {% endif %}
        {% endfor %}

    {% else %}

        {% for info in device_obj.get_record_action_snippet.record_infos %}
            {% if info.url %}
                <a 
                    class="{{ info.css_classes }} text-nowrap"
                    title="{{ info.title }}"
                    href="{{ info.url }}"
                >
                    {{ info.label }}
                </a>
            {% else %}
                <span
                    class="{{ info.css_classes }} text-nowrap"
                    title="{{ info.title }}"
                >
                    {{ info.label }}
                </span>
            {% endif %}
        {% endfor %}

    {% endif %}

    {% if device_obj.get_record_action_snippet.add_links %}
    <div class="btn-group btn-group{% if not is_device_detail_page %}-sm{% endif %}" role="group">
        <button id="newRecord" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="newRecord">
        {% for add_link in device_obj.get_record_action_snippet.add_links %}
            <a 
                class="dropdown-item"
                href="{{ add_link.url }}"
            >
                {{ add_link.label|title }}
            </a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% comment %}
{% if is_device_detail_page %}
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a class="small ml-4" href="{% add_preserved_filters history_url %}" class="historylink">
        <i class="fa fa-history"></i> {% trans "History" %}
    </a>
{% endif %}
{% endcomment %}
