{% extends "admin/change_form.html" %}

{% block content %}
    <style>
        #header {display:none}
        #content {margin:0px;}
        body {background:#fff; padding:0px;}
        input[name="_addanother"],
        input[name="_save"] {display:none;}
        .breadcrumbs {display:none;}
        .object-tools {display:none;}
        #content > h1 {display:none;}
        .submit-row {visibility: hidden; position:absolute; left:-10000px;}
        textarea {height:60px;}
        .schnadmin-sidenav {display:none}
    </style>
    {{ block.super }}
{% endblock %}
