{% extends "admin/change_form.html" %}


{% block content_title %}
    <h1>Raumzuweisung Device {{ device }}</h1>
{% endblock %}


{% block content %}
    {% if device.get_is_currently_lented %}
    <div class="alert alert-danger">
        <p>
            Device <b>{{ device }}</b> ist aktuell verliehen an <b>{{ device.get_person }}</b>.
        </p>
        <p>
            Wenn dieses Device jetzt lokalisiert wird, <b>wird der aktuelle Verleih beendet!</b>
        </p>
        <p>
            Eine Raumänderung für den aktuellen Verleih ist über die <a href="{% url "admin:core_lentrecord_change" device.active_record.pk %}"><b>Verleihansicht</b></a> durchzuführen.
        </p>
    </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
