<!--
SPDX-FileCopyrightText: Thomas Breitner

SPDX-License-Identifier: EUPL-1.2
-->

{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
  <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
  <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
  {{ title }}
</div>
{% endblock %}

{% block content_title %}
  <h1>
    {% if devices %}
      {% blocktranslate %}Assign the following devices to tenant “{{ tenant }}”?{% endblocktranslate %}
    {% else %}
      {% translate "No devices without tenant." %}
    {% endif %}
  </h1>
{% endblock %}

{% block content %}

  {% if devices %}

    <form method="post">
      {% csrf_token %}

      <table class="table" style="width: auto;">
        <thead>
          <tr>
            <th>{% translate "Assign" %}</th>
            <th>{% translate "Device" %}</th>
            <th>{% translate "Device type" %}</th>
            <th>{% translate "Licence" %}</th>
            <th>{% translate "Current room" %}</th>
            <th>{% translate "Current record" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %}
            <tr>
              <td><input type="checkbox" name="device" value="{{ device.pk }}" id="device-{{ device.pk }}" checked></td>
              <td><label for="device-{{ device.pk }}">{{ device }}</label><br><small>{{ device.human_title }}</small></td>
              <td>{{ device.device_type|default:"—" }}</td>
              <td>{{ device.is_licence|yesno }}</td>
              <td>{{ device.active_record.room|default:"—" }}</td>
              <td>{{ device.active_record.record_type|default:"—" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="alert alert-warning" role="alert">
        <input class="btn btn-warning" type="submit" value="{% blocktranslate %}Assign to “{{ tenant }}”{% endblocktranslate %}">
        <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-light">{% translate "No, take me back" %}</a>
      </div>
    </form>

  {% else %}

    <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-light">{% translate "Back" %}</a>

  {% endif %}

{% endblock %}
